:root {
    --couleur1: rgba(213, 124, 255, 0.3);
}
body {
    background-image: url("/img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header {
 background-color: rgba(213, 124, 255, 0.3);
 text-align: center;
 align-items: center;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 border-radius: 0 0 20px 20px;
 opacity: 0.7;
 /* margin-bottom: 2.6%; */
}

header a {
 margin-top: 6px;
 text-decoration: none;
 font-family: "Mogra", cursive;
 opacity: 0.6;
 color: black;
 font-size: 25px;
 font-weight: bold;
 transition: color 0.5s;
 cursor: pointer;
}

header .ico1 {
 margin-top: 5px;
}

footer {
 /* margin-top: 2.5%; */
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: rgba(213, 124, 255, 0.3);
 display: flex;
 align-items: center;
 justify-content: space-around;
 opacity: 0.7;
}

footer a {
 margin-top: 6px;
 text-decoration: none;
 font-family: "Mogra", cursive;
 color: black;
 font-size: 25px;
 font-weight: bold;
 opacity: 0.6;
 cursor: pointer;
}

.fond {
 margin-top: 2.0%;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 width: 98%;
 /* height: 100%; */
 background-color: rgba(175, 5, 255, 0.3);
 padding-top: 20px;
 padding-bottom: 20px;
 border-radius: 20px;
 /* animation: gang .1s ease-out  both; */
}

@media screen and (max-width: 1536px) {
  .fond {
   margin-top: 1.5%;
  }
 }


/* @media screen and (max-width: 844px) {

    header a {
        font-size: 10px;
    }
    
} */