h2,h1 {
    font-size: 50px;
    font-family: "Mogra", cursive;
    color: rgba(77, 12, 114, 0.788);
    animation: gang 0.7s ease-in-out both;
}

.fond {
    height: 60vh;
}

.p1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}